.title
  %h1
    =page.title
.break
  %hr
.masonry
  -images.each do |image|
    %a{href: "#{url_for("/gumbo/#{page.id}/#{image.file_name}")}", data: {lightbox: "#{image.id}"}}
      %img.item{src: "#{url_for("/gumbo/#{page.id}/#{image.file_name}")}"}
.break
  %hr
.upload
  %form{method:"POST",action:"#{url_for("/upload")}",role:"form", enctype:"multipart/form-data"}
    %input{type:"hidden",name:"page_id",value:"#{page.id}"}
    .form-group
      %label{for:"page_name"}
        Add Photos
      %input.form-control{type:"file",name:"images[]",multiple:"true"}
      %input.btn.btn-default.btn-lg{type:"submit", value:"upload"}
:javascript
  var container = document.querySelector('.masonry');
  var msnry = new Masonry( container, {
    // options
    columnWidth: 200,
    itemSelector: '.item'
  });
  imagesLoaded(container, function() {
    msnry.layout();
  });

